<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <!-- Class Driver Path -->
    <classPathEntry location="F:/jar/sqljdbc4.jar"/>

    <context id="context" targetRuntime="MyBatis3">
        <property name="javaFileEncoding" value="utf-8"/>
        <commentGenerator>
            <!-- This property is used to specify whether MBG will include any coments in the generated code -->
            <property name="suppressAllComments" value="false"/>
            <!-- This property is used to specify whether MBG will include the generation timestamp in the generated comments -->
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.microsoft.sqlserver.jdbc.SQLServerDriver"
                        connectionURL="jdbc:sqlserver://120.55.166.88:1433;database=reimburse" userId="sa"
                        password="Sa951"/>

        <javaTypeResolver>
            <!-- This property is used to specify whether MyBatis Generator should force the use of java.math.BigDecimal
      for DECIMAL and NUMERIC fields, rather than substituting integral types when possible -->
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.wwl.entity" targetProject="THIS_CONFIGURATION_IS_NOT_REQUIRED">
            <!-- This property is used to select whether MyBatis Generator will generate different Java packages for
      the objects based on the catalog and schema of the introspected table -->
            <property name="enableSubPackages" value="false"/>
            <!-- This property is used to select whether MyBatis Generator adds code to trim the white space from character fields returned from the database -->
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mappers" targetProject="THIS_CONFIGURATION_IS_NOT_REQUIRED">
            <!-- This property is used to select whether MyBatis Generator will generate different Java packages for
      the objects based on the catalog and schema of the introspected table -->
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <javaClientGenerator targetPackage="com.wwl.storage.mappers" targetProject="THIS_CONFIGURATION_IS_NOT_REQUIRED"
                             type="XMLMAPPER">
            <!-- This property is used to select whether MyBatis Generator will generate different Java packages for
      the objects based on the catalog and schema of the introspected table -->
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <table tableName="user_role" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="menu" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="role_menu" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="users" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="user_menu" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="pay_type" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="settlement_type" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="company" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="groups" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="groups_hotel" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="groups_ticket" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="groups_train" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="groups_visa" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="groups_car" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="groups_other" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="groups_ append" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="groups_append_hotel" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="groups_append_ticket" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="groups_append_train" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="groups_append_visa" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="groups_append_car" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="groups_append_other" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="reconciliation" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="reconciliation_detail" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="platform_miss_data" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="alipay_miss_data" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>

        <table tableName="tenpay_miss_data" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false"/>
    </context>
</generatorConfiguration>